 @use"var" as vars;
@import "./sprite";
@import "./mixins/relative";
@import "./mixins/zindex";
@import "./page/header";
@import "./page/content";
@import "./page/footer";
@import "./fonts";

body {
font-family: "Matemasie";
  background: vars.$bg;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

